BasedOnStyle: LLVM

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: true
  BeforeElse: false
  BeforeCatch: false
  BeforeWhile: false

ColumnLimit: 120

SortIncludes: false

AlignAfterOpenBracket: DontAlign
AlwaysBreakTemplateDeclarations: Yes

NamespaceIndentation: All
IndentWidth: 4

IndentPPDirectives: BeforeHash