*.a
*.o
*.lib
*.so
*.dll

GameEngine/GameEngine

.vscode
Makefile
CMakeCache.txt
build

testFolder
r-type_client*
r-type_server*
unit_tests*

*.o
*.gcno
*.gcda
build
idea
a.out
*/include/nlohmann
*/include/SFML

.vs
artifacts*
.idea
